.nav1 {
    width: 561px;
    height: auto;
    display: flex;
    margin-right: 10px;
    font-size: 22px;
    color: #3D37F1;
    font-family: 'Lato', sans-serif;
}
.nav-items {
    width: 540px;
    margin-left: 10px;
    margin-top: 70px;
}
.logo {
    margin-right: 979px;
    margin-left: 40px;
    margin-top: 40px;
}
.mainimage {
    margin-left: 169px;
    margin-top: -700px;
    margin-left: 1050px;
}
.main-title {
    font-size: 78px;
    margin-top: 220px;
    margin-left: 60px;
    width: auto;
    height: auto;
}
.main-paragraph {
    font-size: 22px;
    margin-left: 60px;
    margin-top: 40px;
}
.wave {
    width: 263.67px;
    height: 76.77px;
    background-color: #3D37F1;
    margin-top: 180px;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px 50px 50px;
  }
  .wave-text {
    margin-left: 30px;
    color: #FFFFFF;
    font-size: 23px;
  }
  .div-main{
    width: 1170px;
    height: 962px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .div1 {
    width: 370px;
    height: 450px;
    background-color: #FBBA77;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .div2 {
    width: 370px;
    height: 450px;
    background-color: #41EAE3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .div3 {
    width: 370px;
    height: 450px;
    background-color: #69529F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .div4 {
    width: 370px;
    height: 450px;
    background-color: #4386D2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .div5 {
    width: 370px;
    height: 450px;
    background-color: #A5A2F6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .div6 {
    width: 370px;
    height: 450px;
    background-color: #FF8088;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .p1 {
    height: 50px;
    width: 328px;
    margin-top: 12.1px;
    font-size: 16px;
    margin-left: 71px;
    padding-top: 20px;
  }
  
  .h2 {
    margin-top: 55px;
    font-size: 22px;
  }
  .section2 { background-color: #FBFCFD; }

  .services {
      font-size: 20px;
      color: #3D37F1;
  }
  .provide {
      font-size: 40px;
      color: #5A5454;
      margin-top: 17px;
  }
  .quality {
      font-size: 18px;
      color: #5A5454;
      margin-top: 21px;
  }
  .section2-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 100px;
      margin-bottom: 68px;
  }

  .services, .provide, .quality {
      font-family: 'Lato', sans-serif;
  }

  .h2, .p2, .h1, .p1 {
      font-family: 'Roboto', sans-serif;
      color: #FFFFFF;
      font-size: 16px;
      font-weight: 800;
  }

  .div-hover1:hover { box-shadow: 6px 9px 17px 9px #FBBA77}

  .div-hover2:hover { box-shadow: 6px 9px 17px 9px #41EAE3}

  .div-hover3:hover { box-shadow: 6px 9px 17px 9px #69529F}

  .div-hover4:hover { box-shadow: 6px 9px 17px 9px #4386D2}

  .div-hover5:hover { box-shadow: 6px 9px 17px 9px #A5A2F6}

  .div-hover6:hover { box-shadow: 6px 9px 17px 9px #FF8088}

  .read-more {
    width: 130px;
    height: 40px;
    border: 3px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px 50px 50px 50px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
  }
  
  .read-1:hover {
    background-color: #FFFFFF;
    display: flex;
    color: black;
    box-shadow: 5px 10px 18px #FBBA77
  }
  .read-2:hover {
    background-color: #FFFFFF;
    display: flex;
    color: black;
    box-shadow: 5px 10px 18px #41EAE3
  }
  .read-3:hover {
    background-color: #FFFFFF;
    display: flex;
    color: black;
    box-shadow: 5px 10px 18px #69529F
  }
  .read-4:hover {
    background-color: #FFFFFF;
    display: flex;
    color: black;
    box-shadow: 5px 10px 18px #4386D2
  }
  .read-5:hover {
    background-color: #FFFFFF;
    display: flex;
    color: black;
    box-shadow: 5px 10px 18px #A5A2F6
  }
  .read-6:hover {
    background-color: #FFFFFF;
    display: flex;
    color: black;
    box-shadow: 5px 10px 18px #FF8088
  }

  